<!--
  ~ Copyright (©) 2019 Jeff Harris <jefftharris@gmail.com>
  ~ All rights reserved. Use of the code is allowed under the
  ~ Artistic License 2.0 terms, as specified in the LICENSE file
  ~ distributed with this code, or available from
  ~ http://www.opensource.org/licenses/artistic-license-2.0.php
  -->
<manifest package="com.example.otpaddactivitydynamicmodule"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">
    <application
        android:hasCode="false">

    </application>
    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_otpaddactivitydynamicmodule">
<!--        <dist:delivery>-->
<!--            <dist:on-demand />-->
<!--        </dist:delivery>-->
        <dist:fusing dist:include="true" />
    </dist:module>

</manifest>

